/* Default styles
======================================*/
body { margin: 0; padding: 0; }
#ng-simpa-navbar .navbar-inner { box-shadow: none; min-height: 40px; }
#ng-simpa-navbar .navbar-inner:after { clear: both; }
#ng-simpa-navbar .navbar-inner:after,
#ng-simpa-navbar .navbar-inner:before { content: ""; display: table; line-height: 0; }
#ng-simpa-navbar ul.nav { display: block; left: 0; margin: 0; position: relative; padding: 0; overflow: hidden; }
#ng-simpa-navbar ul.nav > li { float: left; list-style: none; }
#ng-simpa-navbar ul.nav > li a { display: block; }
.ng-simpa-navigation-header { display: block; position: fixed; top: 0 !important; width: 100%; z-index: 1; overflow: hidden; }
.main-content { position: relative; z-index: 9999; overflow: hidden; }
#footer { position: relative; z-index: 9999; overflow: hidden; }

/* User modified styles
======================================*/
#ng-simpa-navbar .navbar-inner { background: #000; }
#ng-simpa-navbar ul.nav { width: 960px; margin: 0 auto; }
#ng-simpa-navbar ul.nav > li a { color: #fff; padding: 10px 15px; }
.ng-simpa-navigation-header { background: #e61085; }
.main-content { background: #fff; }
#footer { background: #fff; }
